# Dependencies
node_modules/

# Build outputs
dist/
out/
release/

# Environment variables
.env
.env.*

# Logs
*.log*

# Cache
.eslintcache
.vite/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# SQLite (Base de données locale)
*.db
*.db-wal
*.db-shm
